@page "/"
@inject IJSRuntime JSRuntime

<PageTitle>Index</PageTitle>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card-container">
            <div class="front @($"card-container {(IsCvvInputFocused ? "flippedFront" : "flipped")}")">
                <div class="image">
                    <img src="image/chip.png" alt="">
                    <img src="image/visa.png" alt="">
                </div>
                <div class="card-number-box">@CardNumber</div>
                <div class="flexbox">
                    <div class="box">
                        <span>Nombre del Titular</span>
                        <div class="card-holder-name">@CardHolder</div>
                    </div>
                    <div class="box">
                        <span>Fecha de Expiración</span>
                        <div class="expiration">
                            <span class="exp-month">@ExpirationMonth</span>
                            <span>/</span>
                            <span class="exp-year">@ExpirationYear</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" back @($"card-container {(IsCvvInputFocused ? "flipped" : "flippedFront")}")">
                <div class="stripe"></div>
                <div class="box">
                    <span>@CVV</span>
                    <div class="cvv-box"></div>
                    <img src="image/visa.png" alt="">
                </div>
            </div>

        </div>

        <form>
            <div class="inputBox">
                <span>Número de Tarjeta</span>
                <input type="text" maxlength="16" class="card-number-input" @oninput="UpdateCardNumber" @onfocus="OnOtherFocus" placeholder="1234 5678 9123 456" />
            </div>
            <div class="inputBox">
                <span>Nombre del Titutlar</span>
                <input type="text" class="card-holder-input" @oninput="UpdateCardHolder" @onfocus="OnOtherFocus" placeholder="Nombre completo del Titular" />
            </div>
            <div class="flexbox">
                <div class="inputBox">
                    <span>Mes de Expiración</span>
                    <select @bind="ExpirationMonth" class="month-input" @onfocus="OnOtherFocus">
                        <option value="month" selected disabled>month</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>Año de Expiración</span>
                    <select @bind="ExpirationYear" class="year-input" @onfocus="OnOtherFocus">
                        <option value="year" selected disabled>year</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
                <div class="inputBox">
                    <span>CVV</span>
                    <input type="text" maxlength="4" class="cvv-input" @oninput="UpdateCVV" @onfocus="OnCvvFocus" placeholder="***" />
                </div>
            </div>
            <input type="submit" value="submit" class="submit-btn">
        </form>
    </div>
</body>
</html>



@code {
    private string _CardNumber { get; set; } = "#### #### #### ####";
    public string CardNumber
    {
        get => _CardNumber;
        set
        {
            _CardNumber = new string(value.Where(char.IsDigit).ToArray());
            _CardNumber = CardFormat(_CardNumber);
        }
    }

    private void UpdateCardNumber(ChangeEventArgs e)
    {
        CardNumber = e.Value.ToString();
        StateHasChanged();
    }

    string CardFormat(string value)
    {
        // Eliminar espacios en blanco existentes para evitar conflictos
        value = value.Replace(" ", "");

        // Asegurar que no se exceda la longitud máxima
        if (value.Length > 16)
        {
            value = value.Substring(0, 16);
        }

        // Aplicar el formato: insertar un espacio cada 4 caracteres
        for (int i = 4; i < value.Length; i += 5)
        {
            value = value.Insert(i, " ");
        }

        return value;
    }

    private string _CardHolder { get; set; } = "Nombre Completo";
    public string CardHolder
    {
        get => _CardHolder;
        set => _CardHolder = value;
    }

    private void UpdateCardHolder(ChangeEventArgs e)
    {
        CardHolder = e.Value.ToString();
        StateHasChanged();
    }
    
    private string ExpirationMonth { get; set; } = "MM";
    private string ExpirationYear { get; set; } = "AAAA";
    private string _CVV { get; set; } = "***";
    public string CVV
    {
        get => _CVV;
        set => _CVV = value;
    }

    private void UpdateCVV(ChangeEventArgs e)
    {
        CVV = e.Value.ToString();
        StateHasChanged();
    }

    private bool IsCvvInputFocused { get; set; } = false;


    private void OnOtherFocus()
    {
        IsCvvInputFocused = false;
    }

    private void OnCvvFocus()
    {
        IsCvvInputFocused = true;
    }
}


